<html>
    <head>
        <title>Wall Posts for {{username}}</title>
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div>
                <form action="/logout", method="GET">
                    <button name="Logout">Logout</button>
                </form>
            </div>
            <div>
                <h1>User: {{username}}</h1>
                <h2>Posts:</h2>
                {% for post in posts %}
                <div>
                    Author: {{post[0]}}
                    Created at: {{post[1]}}
                    Content:  {{post[2]}}
                </div>
                {% endfor %}

                {% if session.get("username"): %}
                <div>
                    <h2>New Post:</h2>
                    <form action="/user/{{username}}" method="POST">
                        <label for="username"></label>
                        <input type="hidden" name="username" value="{{username}}"/>
                        <label for="newPost"></label>
                        <textarea name="newPost" class = "form-control"></textarea>
                        <input type="submit" value="Post">
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
